/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .event_index {
   border-top: solid 1px #d4d8db;
   padding: 15px 0px 15px 0px;
 }

 .event_index_icon img {
   height: 250px;
   width: 100%;
   float: left;
   margin-right: 20px;
 }

 .event_index table th {
   width: 100px;
 }

 .event_show_icon img {
   height: 250px;
   width: 100%;
   float: left;
   margin-right: 20px;
   margin-top: 15px;
 }

.movie_index video {
  height: 300px;
  width: 100%;
  margin-right: 20px;
}

.each_movie {
  float: left;
  color: gray;
}

.each_movie a{
  color: gray;
}

.movie-show video {
  width: 600px;
  height: 500px;
}

.user_index {
  border: solid 1px #d4d8db;
  padding: 10px;
}

.user_index img {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 20px;
}

.user_index table th {
  width:150px;
}

.user_event {
  border: solid 1px #d4d8db;
  height: auto;
}

.user_index_event {
  padding: 30px;
  height: 50%;
}

.user_index_event img {
  height: 200px;
  width: 100%;
  float: left;
  margin-right: 20px;
}

.user_index_event table th {
  width: 100px;
}

.user_movie {
  border: solid 1px #d4d8db;
  box-sizing: content-box;
  height: 100%;
}

.user_index_movie {
  padding: 30px;
  height: 50%;
}

.user_index_movie video {
  height: 200px;
  width: 100%;
  float: left;
  margin-right: 20px;
}

.user_index_movie table {
  margin-top: 20px;
}

.user_index_movie table th {
  width: 100px;
}

.experience th {
  width: 300px;
}

.experience td {
  width: 500px;
}

.experience_index {
  border-top: solid 1px #d4d8db;
  padding: 15px 0px 15px 0px;
}

.experience_index_icon img {
  height: 250px;
  width: 100%;
  float: left;
  margin-right: 20px;
}

.experience_show table th {
  width: 100px;
  height: 100px;
}

.experience_show table td {
  height: 100px;
}

.experience_show_icon img {
  height: 250px;
  width: 100%;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}
